*{
	margin:0;
	padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;*/

.header{
	background-color:#000;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: -10px;
}
.header ul li a{
	color: #f2f2f2;
	text-decoration: none;
	font-size: 18px;
}
.header ul li a:hover{
	color: orange;
}
.header ul li{
	list-style: none;
	display: inline-block;
	margin-left:40px;
	margin-right:40px;
}
.newsletter{
	width: 100%;
	background-color: white;
	text-align: center;
}	
.newsletter h1{
	font-family: 'Roboto', sans-serif;
	color: #2F323A; 
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 40px;
	padding-top: 80px;
}
.newsletter p{
	font-family: 'Poppins', sans-serif;
	text-align: center;
	margin: 40px;
	line-height: 25px;
	color: gray;
	font-size: 17px;
}
.newsletter form{
	margin-left: 30px;
	margin-right: 20px;
	padding-bottom: 60px;
}
.contact-form{
	background-color: #EEEEEE;
	margin-top: 50px;
	padding: 70px 0px;
	text-align: center;
}
.contact-form h2{
	font-family: 'Roboto', sans-serif;
	color: #2F323A; 
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 20px;
	padding-top: 40px;
}
.contact-form p{
	font-family: 'Poppins', sans-serif;
	text-align: center;
	margin: 40px;
	line-height: 25px;
	color: gray !important;
	font-size: 17px;
}
.contact-form form{
	margin-left: 30px;
	margin-right: 20px;
	padding-bottom: 80px;
}
.contact-form .input-4{
	padding: 18px;
	width: 375px;
	margin-right: 15px;
	margin-bottom: 15px;

}
.contact-form .input-5{
	padding: 18px;
	width: 375px;
}
.contact-form .input-6{
	padding: 18px;
	width: 375px;
	margin-right: 15px;
	margin-bottom: 15px;
}
.contact-form .input-7{
	padding: 18px;
	width: 375px;
}
textarea{
	padding: 29px;
	margin: 8px 0px;
	font-family: 'Poppins', sans-serif !important;
	color: gray;
	text-align: left !important; 
}
.contact-form .input-9{
	padding: 18px;
	width: 130px;
	background: black;
	color: white;
	border: 1px solid black;
	text-align: center;
	margin-top: 10px;
	border-radius: 6px;
	margin-left: 40px; 
}
.contact-form .input-9:hover{
	background-color: orange;
	border: 1px	solid orange;
	cursor: pointer;
	text-align: center!important; 
}
.input-1{
	padding: 18px;
	width: 320px;
}
.input-2{
	padding: 18px;
	width: 320px;
}
.input-3{
	padding: 18px;
	width: 130px;
	background: black;
	color: white;
	border: 1px solid black;
}
.input-3:hover{
	background-color: orange;
	border: 1px	solid orange;
	cursor: pointer;
}

a{
	text-orientation: none;
}
.footer{
	width: 100%;
	background-color: #000;
	padding: 60px 0px;
	margin-top: -30px;
}
.container{
	width: 1140px;
	margin: 0px auto;
}
.container_contact {
    max-width: 900px;
    margin: 0 auto;
}
.submit_btn{
	text-align: left;
}

.item h6{
	color: white;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	margin-bottom: 20px;
}
.item ul li{
	list-style: none;
	margin-bottom: 8px;
}
.item ul li a {
	color: #cecece;
	font-size: 15px;
	font-weight: 600;
	font-family: 'Poppins', sans-serif; 
	text-decoration: none;
}
.item ul li a:hover{
	color:orange;
}
.top{
	display: flex;
	justify-content: space-between;
	border-bottom: 2px #cecece;
	padding-bottom: 30px;

}
.bottom ul li{
	list-style: none;
	display: inline-block;
	border-right: 1px solid white;
	padding right: 8px;
	margin-right: 4px;
}
.bottom ul li a{
	color: #cecece;
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
}
.bottom ul li a:hover{
	color: orange;
}
.last{
	border-right: none !important;
}
.bottom ul{
	margin-bottom: 20px;
	padding-top: 30px;
}
.bottom p{
	color: #cecece;
	font-size: 15px;
	font-family:'Poppins', sans-serif;
}
.bottom p a{
	color: blue;
	margin-left: 10px;
}
.contact-form{
	width: 100%;
	background-color: #EEE;
	padding: 60px 0;
}
.icon ul li{
	list-style: none;
	margin: 5px 0px;
}
.icon ul li a i{
	height: 40px;
	width: 60px;
	background-color: orange;
	color: white; 
	text-align: right;
	line-height: 40px; 
	padding: 0 20px;
}
.fa-facebook:hover{
	left: 0px;
}
.fa-facebook{
	position: fixed;
	top: 25%;
	left: -50px;
}
.fa-instagram:hover{
	left: 0px;
}
.fa-instagram{
	position: fixed;
	top: 33%;
	left: -50px;
}
.fa-twitter:hover{
	left: 0px;
}
.fa-twitter{
	position: fixed;
	top: 41%;
	left: -50px;
}
.fa-youtube:hover{
	left: 0px;
}
.fa-youtube{
	position: fixed;
	top: 49%;
	left: -50px;
}
.fa-behance:hover{
	left: 0px;
}
.fa-behance{
	position: fixed;
	top: 57%;
	left: -50px;
}
.fa-github:hover{
	left: 0px;
}
.fa-github{
	position: fixed;
	top: 65%;
	left: -50px;
}